 body{height: 900px; background-image: linear-gradient(to bottom,rgb(149, 125, 173),rgb(210, 145, 188),rgb(224, 187, 228),rgb(254, 200, 216), rgb(255, 223, 211)); background-repeat: no-repeat;} 
 

#body1{ height: 3000px; background-image: linear-gradient(to bottom,rgb(149, 125, 173),rgb(210, 145, 188),rgb(224, 187, 228),rgb(254, 200, 216), rgb(255, 223, 211)); background-repeat: no-repeat;}

#f1{ font-family: gabriola;}


